#nav {
border-top: 1px solid #bbb;
background-color: #dfdfdf;
}

#nav h2 {
margin: 0;
display: block;
background-color: #dfdfdf;
color: #AC0F0F;
border-bottom: 1px solid #bbb;
padding-left: 8px;
}


#nav ul {
list-style: none;
margin: 0;
padding: 0;
}

#nav ul li {
display: inline;
margin: 0;
padding: 0;
}

#nav ul li a {
margin: 0;
display: block;
background-color: #dfdfdf;
font-size: 85%;
line-height: 1.2em;
color: #333;
border-bottom: 1px solid #bbb;
padding: 0.5em 0 0.5em 15px;

}

#nav ul li a:hover {
	background: #94A5C6;
	color: #fff;
	text-decoration: none;
}

#nav ul li ul {
background-color: #CED6E7;
}

#nav ul li ul li a {
background-color: #CED6E7;
font-size: 85%;
border-bottom: 1px dashed #aaa;
padding-left: 30px

}

#nav ul li a.on {
background-color: #427BB5;
color: #fff;
}

